@keyframes darkenator-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popup-fade {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.popupDarkenator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  z-index: 50;
  animation: darkenator-fade 0.1s linear;
}

.popupBody {
  position: relative;
  width: 400px;
  background-color: white;
  border: 2px solid #1e488b;
  border-radius: 5px;
  color: black;
  animation: popup-fade 0.1s ease-in;
  padding: 16px;
  flex-shrink: 0;
}

.topSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 16px;
}

.joinHeaderText {
  font-size: larger;
  right: 50%;
  transform: translateX(100%);
}

.closeButton {
  width: 30px;
  height: 30px;
}

.popupContent {
  width: 100%;
  box-sizing: border-box;
}
