.inviteCodeSection {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inviteCodeText {
  font-size: large;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  color: #0000ee;
}

.copyButton {
  margin-left: 16px;
  padding: 4px;
  background-color: white;
  border: none;
}

.copyButton:hover {
  background-color: rgb(230, 230, 230);
  border: none;
}

.copyButtonImage {
  height: 24px;
  width: 24px;
}
