.tournamentColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #22529f;
  transition: width 0.1s linear;
  color: white;
  padding-left: 16px;
  padding-top: 24px;
  padding-right: 16px;
  width: 16px;
  flex-shrink: 0;
}

.open {
  width: 300px;
}

.listHeader {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.expandButton {
  position: absolute;
  left: 0;
}

.headerText {
  opacity: 0;
  transition: none;
  pointer-events: none;
  text-align: center;
}

.open .headerText {
  opacity: 1;
  transition: opacity 0.1s linear 0.1s;
  pointer-events: auto;
}

.tournamentList {
  width: 100%;
  list-style-position: inside;
  margin-top: 8px;
  opacity: 0;
  transition: none;
  pointer-events: none;
}

.open .tournamentList {
  opacity: 1;
  transition: opacity 0.1s linear 0.1s;
  pointer-events: auto;
}

.tournamentItem {
  width: 100%;
  height: 50px;
  margin-top: 6px;
}

.selected {
  border-color: greenyellow;
}

.tournamentItemContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tournamentItemSubText {
  font-size: xx-small;
  color: rgb(218, 218, 218);
  margin-top: 4px;
}

.spacer {
  flex-grow: 1;
  min-height: 0;
}

.bottomButtons {
  display: flex;
  justify-content: center;
  transition: none;
  opacity: 0;
  pointer-events: none;
}

.open .bottomButtons {
  opacity: 1;
  transition: opacity 0.1s linear 0.1s;
  pointer-events: auto;
}

.bottomButton {
  margin: 4px;
  margin-bottom: 16px;
  margin-top: 16px;
  width: 150px;
  height: 40px;
}
