.tournament-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #22529f;
  transition: width 0.1s linear;
  color: white;
  padding-left: 16px;
  padding-top: 24px;
  padding-right: 16px;
  width: 16px;
}

.tournament-column.open {
  width: 300px;
}

.list-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.expand-button {
  margin-right: auto;
}

.header-text {
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: none;
  pointer-events: none;
}

.tournament-column.open .header-text {
  opacity: 1;
  transition: opacity 0.1s linear 0.1s;
  pointer-events: auto;
}

.tournament-list {
  width: 100%;
  list-style-position: inside;
  margin-top: 8px;
  opacity: 0;
  transition: none;
  pointer-events: none;
}

.tournament-column.open .tournament-list {
  opacity: 1;
  transition: opacity 0.1s linear 0.1s;
  pointer-events: auto;
}

.tournament-item {
  width: 100%;
  height: 50px;
  margin-top: 6px;
}

.tournament-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tournament-item-sub-text {
  font-size: xx-small;
  color: rgb(218, 218, 218);
  margin-top: 4px;
}
