.background {
  background-color: #22529f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  flex-shrink: 0;
}

.user-section {
  display: flex;
  height: 24px;
  justify-content: right;
  width: 200px;
  align-items: center;
}

.user-name-text {
  padding-right: 8px;
  color: white;
  align-self: center;
}

.title {
  font-size: large;
  padding-left: 16px;
  color: white;
}

.logo {
  height: 42px;
}

.title-section {
  display: flex;
  justify-content: left;
  width: 300px;
  align-items: center;
}
