.logo {
  max-width: 80px;
  min-width: 40px;
  aspect-ratio: 1 / 1;
  flex: 1 1 auto;
  margin: 6px;
  position: relative;
  display: flex;
  align-items: center;
}

.teamImage {
  max-width: 100%;
  max-height: 100%;
}

.notPredicted {
  mix-blend-mode: multiply;
  opacity: 0.2;
}

.predicted {
  filter: drop-shadow(0 0 2px green) drop-shadow(0 0 4px green);
}

.predictedWrong {
  filter: drop-shadow(0 0 2px red) drop-shadow(0 0 4px red);
}
