.container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border: 2px solid;
  border-color: #22529f;
  border-radius: 5px;
  margin: 4px;
  padding: 4px;
}

.correct {
  border-color: green;
}

.incorrect {
  border-color: red;
}

.logos {
  display: flex;
  align-items: center;
}

.wins {
  text-align: center;
}

.predictionArea {
  text-align: center;
  font-size: x-small;
  flex-grow: 0;
}

.correctText {
  color: green;
}

.incorrectText {
  color: red;
}
