.container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border: 2px solid #22529f;
  border-radius: 5px;
  margin: 5px;
  padding: 4px;
}

.logos {
  display: flex;
  align-items: center;
}

.wins {
  text-align: center;
}
