.logo {
  width: 60px;
  height: 60px;
  margin: 6px;
  position: relative;
  display: flex;
  align-items: center;
}

.teamImage {
  max-width: 100%;
  max-height: 100%;
}

.notPredicted {
  mix-blend-mode: multiply;
  opacity: 0.2;
}

.predicted {
  filter: drop-shadow(0 0 2px green) drop-shadow(0 0 4px green);
}

.overlayImage {
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  position: absolute;
}
